:root {
	--primary-color: #FFFFFF;
	--secondary-color: #000000;
	--tertiary-color: #42f474;
	--transparent-white: rgba(255,255,255,.9);
	--title-font: 'Montserrat', sans-serif;
	--copy-font: 'Montserrat', sans-serif;
}